<h1>Ahuti Shrestha</h1>

<p>
Hello! Welcome to my page!!
</p>

<p>
My GitHub page: <%= link_to 'https://github.com/ahushrestha', 'https://github.com/ahushrestha'%>
</p>

<%= image_tag("img.jpg", :size => "260x180")%>

<p>
<%= link_to 'Home', home_path%>
</p>